@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); /*importing a font*/

*{
    box-sizing: border-box;
    margin: 0; /* setting margin and padding to 0 reset's the page's default margin/padding for the entire html file*/
    padding: 0;
    background-color: #2c2c2c;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end; /* adds space between elements in header */
    align-items: center; /* aligns all the items in the header */
    padding: 30px 10%;
}

.logo {
    margin-right: auto; /*pushes logo to the left*/
    cursor: pointer; /*making cursor point on logo hover */
}

.nav__links{
    list-style: none; /*removing the bulletin from the nav link */
}

.nav__links li {
    display: inline-block; /*style for navigation links [side by side] */
    padding: 0px 20px;  /*space between navigation links [0px - top bottom 20px - left right] */
}

.nav__links li a:hover{
    color: #0088a9;
    transition: all 0.3s ease 0s; /*ease 0 to make it smooth */
}

button{
    padding: 9px 20px;
    background-color: rgb(26, 71, 82);
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 30px; /*pushes button to the right*/
}

button:hover {
    background-color: rgba(0, 136,168,0.8); /*change level of alpha (opacity) */
}


